<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <h1>BMI Calculator</h1>
    <h3>We care about your health!</h3>
    <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" width="100px" height="100px">

<ion-item>
  <ion-label position="floating">Enter your height</ion-label>
  <ion-input [(ngModel)]="height" type="number"> </ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Enter your weight</ion-label>
  <ion-input [(ngModel)]="weight" type="number"></ion-input>
</ion-item>

<ion-button expand="block" color="danger" (click)="buttonPressed()">Calculate BMI</ion-button>

<div *ngIf="bmi">
<p>Your BMI is: {{bmi}}</p>

<p>You are {{message}}</p>
</div>

  </div>
</ion-content>
